*.webp
*.png
*.jpg
*.jpeg
*.jar
*.iml
.gradle
/local.properties
/.idea/misc.xml
/.idea/deploymentTargetDropDown.xml
/.idea/androidTestResultsUserPreferences.xml
/.idea/caches
/.idea/inspectionProfiles
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
private.properties
